<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        
    </div>
    {% endfor %}
    <h3>Trang chủ</h3>
    {% if user.is_authenticated %}
    <h3>Hello {{fname}}!</h3>
    <h4>You're successfully logged in.</h4>
    
    <button type="submit"><a href="/signout">SignOut</a></button>
    <button type="submit"><a href="/bostt">Home</a></button>
    {% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <br/>
    <br/>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}
</body>
</html>


 -->

 <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h3>Welcome!</h3>


    {% if user.is_authenticated %}
    <h3>{{fname}}</h3>
    <h4>You're successfully logged in.</h4>
    <button type="submit"><a href="/signout">SignOut</a></button>
    <button type="submit"><a href="/bostt">Home</a></button>
    {% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <br/>
    <br/>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}
</body>
</html> -->



<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <title>Home</title>
</head>

<body>
    <div id="header">
        <div class="login" >
            <ul>
                {% if user.is_authenticated %} 
                <li>{{fname}}</li>
                <li><button type="submit"><a href="/signout">Đăng xuất</a></button></li>
                
                <li><button type="submit"><a href="/bostt">Trang chủ</a></button></li>
                {% else %}
                <li><button type="submit"><a href="/signup">Đăng ký</a></button></li>
                <li><button type="submit"><a href="/signin">Đăng nhập</a></button></li>
                {% endif %}
            </ul>
        </div>
    </div>
</body>

</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300&family=Satisfy&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b9d8c4ddc.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./image/WordPress_blue_logo.svg.ico" type="image/x-icon">
    <title>Trang chủ</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <ul>
                {% if user.is_authenticated %} 
                <li>{{fname}}</li>
                <li><button type="submit"><a href="/signout">Đăng xuất</a></button></li>
                <li><button type="submit"><a href="/bostt">Trang chủ</a></button></li>
                {% else %}
                <li><button type="submit"><a href="/signup">Đăng ký</a></button></li>
                <li><button type="submit"><a href="/signin">Đăng nhập</a></button></li>
                {% endif %}
            </ul>   
        </div>
</body>
</html> -->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300&family=Satisfy&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b9d8c4ddc.js" crossorigin="anonymous"></script>
    <title>Trang chủ</title>
</head>
<body>
    <div class="header">
        <input type="text" placeholder="Tìm kiếm thông tin">
         <ul>
                {% if user.is_authenticated %}   
                
                <li><button type="submit"><a href="/dashboard">Trang chủ</a></button></li>
                {% elif request.session.student_id %}
                <!-- <li>{{fname}}</li> -->
                <li><button type="submit"><a href="/profile">Trang cá nhân</a></button></li>
                {% else %}
                <li><button type="submit"><a href="/signin">Đăng nhập</a></button></li>
                {% endif %}
        </ul>   
    </div>

    <div class="container">
        <div class="sidebar-menu">
            <p><a href="/"><i style="margin-right: 12px; color: #fff;" class="fa-solid fa-house"></i>Trang chủ</a></p>
            <p><a href="/class_students"><i style="margin-right: 12px; color: #fff;" class="fa-solid fa-table"></i>Xem lớp</a></p>
            <p><a href="/attendance_students"><i style="margin-right: 12px; color: #fff;" class="fa-regular fa-calendar-days"></i>Điểm danh</a></p>
            <p><a href="/profile"><i style="margin-right: 12px; color: #fff;" class="fa-solid fa-user"></i>Profile</a></p>
            <p><a href="/signout"><i style="margin-right: 12px; color: #fff; margin-top: 330px;" class="fa-solid fa-arrow-right-from-bracket"></i>Đăng xuất</a></p>
        </div>
        <div class="content">

        </div>
    </div>
</body>
</html>