<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Đăng nhập</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'assets/css/signin.css' %}"> 
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/dc2a236791.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>

    <div class="container" id="home">
        <div class="login-left">
            <div class="login-header">
                <h1>Đăng nhập</h1>
            </div>
            <form action="/signin" method="POST" id="loginForm" class="login-form" autocomplete="off">
               {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="success-message" role="alert">
                               <strong>{{ message }}</strong>
                            </div>
                        {% elif message.tags == "error" %}
                            <div class="error-message" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                        {% else %}
                            <div class="info-message" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                  <div class="form-item">
                    <form id="roleForm" method="POST" action="{% url 'signin' %}">
                      {% csrf_token %}
                      <input type="hidden" id="is_superuser" name="is_superuser">
                      <div class="select-menu">
                          <div class="select-btn">
                              <span class="sBtn-text">Chọn vai trò của bạn</span>
                              <!-- <i class="bx bx-chevron-down"></i> -->
                              <i class="fa-solid fa-circle-chevron-down fa-2xs" style="color: #06204b;"></i>
                          </div>
                          <ul class="options">
                              <li class="option" data-value="student">
                                  <i class="bx bxl-github" style="color: #171515;"></i>
                                  <span class="option-text">Sinh viên</span>
                              </li>
                              <li class="option" data-value="teacher">
                                  <i class="bx bxl-instagram-alt" style="color: #E1306C;"></i>
                                  <span class="option-text">Giáo viên</span>
                              </li>
                          </ul>
                      </div>
                    
                  </div>
                  <div class="login-content">
                    <div class="form-item">
                        <label for="email">Tên đăng nhập*</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
                    </div>
                    <div class="form-item">
                        <label for="password">Mật khẩu*</label>
                        <label for="text"></label>
                        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
                    </div>
                    <button type="submit" id="loginButton">Đăng nhập</button>
                </div>
                <div class="login-footer">
                  <a href="">
                      Đổi mật khẩu
                  </a>
                  <a href="#">
                      Quên mật khẩu
                  </a>
                </div>
               
            </form>
        </div>
        <div class="login-right">
          <img src="{%static 'assets/images/login.jfif' %}">
        </div>
        
    </div>
    {% load static %}
    <script src="{% static 'assets/js/signin.js' %}"></script>
    
</body>

</html>

